* {
	box-sizing: border-box;
}
*:first-child {
	margin-top: 0;
}
*:last-child {
	margin-bottom: 0;
}
body {

}
a {
	text-decoration: none;
}
.wrapper {
	overflow: hidden;
	position: relative;
}
.container {
	max-width: 80%;
	margin: 0 auto;
	padding: 0 50px;
}
