<article class="article">
   <div class="article-image">
      <img src="" alt="">
   </div>
   <div class="article-heading">
      <div class="article-heading-image"></div>
      <div class="article-title"></div>
      <div class="article-meta">
         <div class="list list-article-meta">
            <div class="list-item"></div>
            <div class="list-item"></div>
            <div class="list-item"></div>
            <div class="list-item"></div>
         </div>
         <div class="article-meta-like"></div>
      </div>
   </div>
   <div class="article-description">
      <p></p>
   </div>
   <div class="article-actions">
      <a href="#" class="button">read more</a>
   </div>
</article>
